* {
    box-sizing: border-box;
}

html, body, main {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

#topbar {
    background-color: #7A030D;
    color: white;
    height: 10vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index: 100;
}

#topbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#topbar ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#search i {
    position: absolute;
    top: 16px;
    right: 10vw;
	font-size: 5vh;
}

#toplogo{
	z-index: 110;
	height: 9vh;
	margin: 0.5vh 0 1vh;
}

nav {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #7A030D;
    padding: 0;
	z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 25vw;
    padding: 2vh 0;
    margin: 0 -2px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav i {
    font-size: 30px;
}

.background {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
  	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.background_trans {
    background-image: url(images/background_trans.png);
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

#opretbruger, #logind, #forside, #madoversigt, #opskrifter, #profil, #topbar, #nav {
    display: none;
}

/* ---- STARTSIDE ----------------------------------------------*/
#startside{
	min-height: 100vh;
	overflow-y: hidden;
}

.startside-logo {
	width: 100vw;
}

.startside-logo img {
	width: 25vw;
	margin: 0 auto;
	padding: 18vh 0 0vh 0;
	display: block;
}

.welcome, .spring-over {
	color: white;
	text-align: center;
}

.welcome p {
	font-size: 25px;
}

.spring-over p {
	font-size: 25px;
	text-decoration-line: underline;
}

.startside-button {
	width: 70vw;
	margin: 2vh auto;
	font-size: 18px;
}

.diabeteslogo img {
	float: right;
	position: absolute;
	bottom: 2vh;
	right: 2vw;
}
	


/* ---- OPRET BRUGER ----------------------------------------------*/
#opretbruger{
	min-height: 100vh;
	overflow-y: hidden;
}

.profile-picture img {
	width: 30vw;
	display: block;
	margin: 0 auto;
	padding: 6vh 0 6vh 0;
}

.form {
	width: 70vw;
	margin: 0 auto;
}

input[type=text], input[type=password] {
	width: 70vw;
	padding: 2vh 4vw;
	margin: 0 0 2vh 0;
	display: inline-block;
	border: none;
	border-radius: 4px;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.checkbox-text, .checkbox-text a {
	color: white;
}

button {
	background-color: #BA0816;
    color: white;
    display: block;
	font-size: 16px;
	padding: 2vh 12vw;
	margin: 4vh auto;
	border: none;
	border-radius: 10px;
}

.har-en-profil {
	color: black;
	display: block;
	text-align: center;
	font-size: 20px;
	background-color: white;
	width: 70vw;
	margin: 5vh auto;
	opacity: 0.8;
	padding: 1vh;
}

.har-en-profil a {
	color: black;
}



/* ---- Opskrifter ----------------------------------------------*/

#opskrifttitle{
	margin: 0;
	padding-top: 12vh;
	padding-bottom: 0;
	font-size: 28px;
	text-align: center;
	background-color: rgba(255,255,255, 0.3);
}

.recipeposibilities{
	margin: 7vh 3vw 1vh;
	background-color: rgba(255,255,255, 0.3);
	padding: 1vh 0 1vh 1vw;
}

.recipe{
	width: 28vw;
	margin: 0vh 1vw 2vh 3vw;
	background-color: #EFEAEA;
	display: inline-block;
}

.recipepic{
	width: 28vw;
	margin: 0;
	min-height: 8vh;
}

.smalltitlerecipe{
	word-break:break-all;
	padding: 0 1vw;
	display: inline-block;
	height: 15vh;
	font-size: 16px;
}

.icons{
	padding: 0vh 2vw;
	font-size: 13px;
	height: 8vh;
}


.fa-ellipsis-h{
	font-size: 20px;
	margin: 0 3vw;
	display: inline-block;	
}

.fa-angle-right{
	font-size: 30px;
	float: right;
	margin: 0 5vw;
	display: inline-block;
}

.fa-sliders-h{
	font-size: 30px;
	float: right;
	margin: 0 1vw;
	display: inline-block;
}

.foodcontainer{
	width: 100vw;
	z-index: 1;
	padding: 2vh 0;
}




/* ---- FORSIDE ----------------------------------------------*/

#forside{
	margin-top: 10vh;
	min-height: 100vh;
}

.forsideButton{
    width: 90vw;
    height: 10vh;
    margin: -2vh auto;
    font-size: 24px;
	
}

.forsideButton p{
    text-align: left;
    margin-left: 18vw;
    margin-top: 1vh;
}

.overlayButtonForside{
    background-color: #7A030D;
    max-width: 24vw;
    height: 10vh;
    transform: translateX(5vw) translateY(8vh);
    border-radius: 10px 0 0 10px;
}

.overlayButtonForside i{
    font-size: 24px;
    color: #ffffff;
    transform: translateX(10vw) translateY(3vh);
}

.logoDiabetes{
    float: right;
	position: absolute;
	bottom: 14vh;
	right: 2vw;
}



/* ---- LOG IND ----------------------------------------------*/
#logind{
	height: 110vh;
	overflow-y: hidden;
}

.logind h1 {
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 4vh 0 5vh 0;
}

.psw, .psw a {
	color: white;
	font-size: 18px;
}

.opret-profil {
	color: #4C4C4C;
	background-color: white;
	opacity: 0.8;
	display: block;
	text-align: center;
	font-size: 20px;
}

.opret-profil a {
	color: #4C4C4C;
}

.opret-profil-button {
	width: 45vw;
	font-size: 18px;
}


/* --- MADOVERSIGT -------------------*/
#madoversigt{
	min-height: 100vh;
}

#madoversigt h2 {
    margin: 0 auto;
    padding: 12vh 0 0;
    text-align: center;
}

button.accordion {
    width: 90vw;
    background-color: #7A030D;
    text-align: left;
    margin: 2vh auto 0;
    padding: 3vh 12vw;
    border-radius: 5px;
    transition: 0.4s;
}

button.accordion::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 600; 
	content: "\f078";
    float: right;
}

button.inneraccordion {
    width: 90vw;
    text-align: left;
    margin: 1vh auto;
    padding: 2vh 5vw;
    border-radius: 5px;
    transition: 0.4s;
}

button.inneraccordion::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 600; 
	content: "\f067";
    padding: 0 5vw 0 0px;
}

button.inneraccordion::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 600; 
	content: "\f078";
    float: right;
}

.innermenu {
    display: none;
}

.panel {
    padding: 5px 20px;
    display: none;
    background-color: white;
    width: 90vw;
    margin: -1vh auto 0;
    border-radius: 5px;
} 

table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: fixed;
}

th, td, tr {
    border: 1px solid black; 
    text-align: left;
    padding: 5px 10px;
}


/* --- PROFIL ---------------------*/
#profil{
	min-height: 100vh;
}

#profil img {
    margin-bottom: 0;
	margin-top: 5vh;
	padding: 6vh 0 2vh 0;
}

#navn {
    text-align: center;
}

#navn p {
    display: inline-block;
    margin: 0;
}

.noter, .deltmed {
    width: 90vw;
    margin: 0 auto;
}

.display {
	display: block;
}

.non-display {
	display: none;
}

input[type=text].kommentarfelt {
	width: 100%;
	margin: 4vh 0 1vh 0;
}

.fjern {
	color: blue;
	text-decoration: underline;
	margin-top: 0;
	text-align: right;
}

.noter h2::after {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 600; 
	content: "\f067";
	float: right;
	padding: 5px;
}